.conatiner {
    width: 100%;
    height: 500px;
}
.wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.box {
    margin: 10px;
    width: 300px;
    height: 425px;
    text-align: center;
    color: #f1f1ff;
    border-radius: 3px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    align-items: center;
}
.box:hover {
    margin-bottom: -10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.7);
    box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.text p{
    color: #111111;;
    font-weight: 50;
    font-size: 15px;
}
.box h2{
    color: #111111;
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    color: turquoise;
}
.date h4 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0 0 3px rgba(0,0,0,0.9);
    background-color: #0d032c;
}

.mybox {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
